@charset "utf-8";
/*
    Author: Evan Simmons
    Date: October 27, 2020
    Purpose: HW7 Part 2 CSS
    Site: http://mydrive.nvcc.edu/ems2748/public/Homework7/HW7P2
*/

ul{
    list-style-type: none;
    background-color: #805F60;
    width: 25%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #232425;
}

li{
    text-align: center;
    border-bottom: 1px solid #232425;
}

li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #BC6E21;
    color: white;
}

.content{
    margin-left: 30%        
}

.location{
    text-align: center;
}
img{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 300px;
}
p {
    text-align: center;
    
}